.accueil{
    text-align: center;
}

.bg-img-accueil{
    background-image: url('../img/bg-img-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.container-img{
    display: flex;
    flex-direction: column;
}

.img_test{
    height: 250px;
    width: 250px;
    margin: 0 3rem 0 3rem;
}